#忽略elpa的包
elpa/* 
# 忽略
*~
# 忽略back 备份文件
backups/*
# 忽略自动保存
auto-save-list/*

places
#忽略缓存文件
.cache
# 忽略字体设置
cnfonts/*

recentf

# 忽略 lsp-mode 生成为文件
.lsp-session-v1

# 忽略网页
url/*

# 忽略 org-roam 数据库
org-roam.db

var/*

.org-id-locations/*
.org-id-locations
